@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["PageTitle"] = "Category";
    ViewData["PageActionText"] = " +new category";
    ViewData["PageActionUrl"] = "/AddOredit";
}
<div class="row">
    <div class="col-md-7">
        <p>
            <a asp-action="AddOredit" class="btn btn-primary">Create New</a>
        </p>
        <ejs-grid id="Category" dataSource="@Model" allowPaging=true allowSorting=true>
            <e-grid-pagesettings pagesize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headertext="Category" field="Title"></e-grid-column>
                <e-grid-column headertext="Icon" field="Icon"></e-grid-column>
                <e-grid-column headertext="Type" template="#Type" field="Type"></e-grid-column>
                <e-grid-column headertext="Actions" template="#actionTemplate" width="150"></e-grid-column>

            </e-grid-columns>
        </ejs-grid>

    </div>
    <div class="col-md-5">
        <div class="Widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>
<script id="Type" type="text/x-template">
     ${if(Type =="Income")}
      <span class="badge bg-success">${Type}</span>
     ${else}
      <span class="badge bg-danger">${Type}</span>
    ${/if}

</script>


<script id="actionTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
    <a href="/Categories/AddOredit/${CategoryId}" class="btn btn-info"><i class="fa-solid fa-pen fa-lg"></i> </a>
     <form action="/Categories/Delete/${CategoryId}" method="post">
          <button type="submit" class="btn btn-sm btn-link no-a-decoration"
          onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
          </button>
      </form>
      </div>

</script>

@*      <a href="/ControllerName/Delete/${CategoryId}" class="btn btn-info">Delete</a>
 *@
@*   <table class="table">
        <thead>
        <tr>

        <th>
        @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>Action</th>

        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>

        <td>
        @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
        <a asp-action="AddOredit" class="btn btn-info" asp-route-id="@item.CategoryId">Edit</a>
        <a asp-action="AddOredit" class="btn btn-info" asp-route-id="@item.CategoryId">Details</a>
        <a asp-action="AddOredit" class="btn btn-info" asp-route-id="@item.CategoryId">Delete</a>

        </td>
        </tr>
        }
        </tbody>
        </table> *@
